<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Custom Workouts</title>
</head>
<body>

<h1>Custom Workouts</h1>

<nav th:replace="fragments :: navigation"></nav>



<p th:unless="${workouts} and ${workouts.size()}">No Workouts</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tr th:each="workout : ${workouts}">
        <td th:text="${workout.id}"></td>
        <td th:text="${workout.name}"></td>
    </tr>
</table>
</body>
</html>